<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="opl.launchType">
    <stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=a\f\fectation_p\ro\fesseu\rR\Run Con\figu\rationsra\f\fectation_p\ro\fesseu\r_2"/>
    <stringAttribute key="opl.debugModel.ATTR_PROJECT" value="affectation_professeur"/>
    <stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="affectation_professeur_2"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/affectation_professeur"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
