<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="opl.launchType">
    <stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=ma\riage_stableR\Run Con\figu\rationsrma\riage_stable_couple"/>
    <stringAttribute key="opl.debugModel.ATTR_PROJECT" value="mariage_stable"/>
    <stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="mariage_stable_couple"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/mariage_stable"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
