<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="opl.launchType">
    <stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=send_mo\re_moneyR\Run Con\figu\rationsrsend_mo\re_money"/>
    <stringAttribute key="opl.debugModel.ATTR_PROJECT" value="send_more_money"/>
    <stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="send_more_money"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/send_more_money"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
